.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  padding: 0 5vw;
  gap: 35px;

  h1 {
    padding: 10px 0;
  }

  h1 a {
    text-decoration: none;
    font-size: 2.4em;
    color: rgb(255, 255, 255);
  }

  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 20px 0;
    width: 100%;
  }

  ul a {
    color: #f5f5f5;
    font-size: 1.75em;
    letter-spacing: 0.07em;
    text-decoration: none;
    text-shadow: 0 0 10px #000;
    padding: 10px;
    border: #ffc600 1px solid;
    border-radius: 10px;
    backdrop-filter: none;
    transition: backdrop-filter 0.25s ease-in-out;
  }

  ul a:active {
    backdrop-filter: blur(20px);
  }
}
