.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 21vh;
  min-height: 250px;
  width: 100%;
  z-index: 2;
  transition: height 0.75s ease-in;
}

.header.hide {
  height: 0;
  min-height: 0;
  overflow: hidden;
  transition: height 0.75s ease-in-out;
}