.formBook {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 65vw;
  height: 100%;
  max-width: 1360px;

  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
    0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  transition: 0.5s ease;
  border-radius: 10px;
  padding: 0 10px;

  aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  aside {
    justify-content: center;
    padding: 4vh 0 5px;
    gap: 30px;
  }

  aside:first-child label {
    color: #666;
    font-size: 1.5em;
    letter-spacing: 0.07em;
    position: absolute;
    top: 6px;
    left: 8px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    pointer-events: none;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in;
    min-width: 185px;
  }

  aside:nth-child(2) label {
    font-size: 1.8em;
    text-shadow: 0 0px 10px rgb(0 0 0 / 42%);
    color: whitesmoke;
    letter-spacing: 0.07em;
    cursor: pointer;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in;
  }

  aside:first-child div,
  aside:nth-child(2) div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  aside:nth-child(2) div {
    cursor: pointer;
  }

  select,
  input:not(input[type="checkbox"]) {
    display: block;
    width: 100%;
    min-width: 175px;
    min-height: 38px;
    padding: 0.375rem 0.75rem;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1ex;
    cursor: pointer;
    min-width: 200px;
    outline: 2px solid transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, outline 0.25s ease-in-out;
  }

  select:focus + label,
  input:focus + label {
    color: transparent;
    background-color: transparent;
  }

  select + label:hover,
  input:not(input[type="checkbox"]) + label:hover,
  select:hover,
  input:not(input[type="checkbox"]):hover {
    outline: 2px solid #e2e2e2ad;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    background-color: hsl(0deg 0% 96% / 86%);
    border-radius: 5px;
    width: 22.5px;
    height: 22.5px;
    transition: background-color 0.25s ease-in-out;
  }

  input[type="checkbox"]:checked {
    z-index: 1;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 7a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7'/%3E%3C/svg%3E");
    width: 22.5px;
    height: 22.5px;
    background-color: #fff;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.75ex;
    background-color: #212529;
    min-width: 100px;
    min-height: 38px;
    cursor: pointer;
    transition: background-color 0.25s ease-in;
  }

  button:disabled {
    background-color: #21252996;
    color: #f9f9f9;
    cursor: default;
  }

  button:disabled:hover {
    filter: brightness(1);
  }

  button:disabled:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  }

  ul div {
    border-left: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background-color: #c10000;
    border-radius: 2ex;
    padding: 15px;

    color: #fff;
    font-size: 1.25em;
  }
}

@media (max-width: 1500px) {
  .formBook {
    width: 95vw;
  }
}
