@import url("https://fonts.googleapis.com/css?family=Lato:200");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  background: #6868682f;
}

::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  background-color: #000000;
}

:focus-visible {
  outline: 0;
}

/** DOM */
html {
  background-color: #f1f1f1e6;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: #333;

  body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-image: url(/public/images/CABANE/background_header.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
  }

  body > div:nth-child(2) {
    display: none;
  }

  main {
    min-height: 100vh;
    z-index: 2;
  }
}
