.userBookings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 15vw;
  width: 100%;
  min-height: 50vh;
  background-color: #f1f1f1f1;

  h2 {
    font-size: 26px;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 26px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  div {
    width: 100%;
  }

  img {
    width: 300px;
    height: auto;
    border-radius: 5px;
  }

  section {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    width: 100%;
    padding: 25px;
    transition: box-shadow 0.5s ease-in-out;
  }

  article:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  }

  article aside {
    display: flex;
    align-items: center;
    width: 100%;
  }

  article aside:first-child {

  }

  article aside:nth-child(2) {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in;
    width: 100%;
  }

  article aside div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6874;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
  }

  h4 {
    font-size: 1.75em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #404040;
    color: #fff;
    letter-spacing: 0.05em;
    cursor: pointer;
  }

  strong {
    text-transform: uppercase;
  }
}
