.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f1f1f1f1;
  position: relative;
  overflow: hidden;

  > section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px;
    margin: 0;
    width: 100%;
  }

  > h3 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2;
    color: #212529;
  }

  hr {
    margin: auto;
    width: 80%;
  }

  div[role="figure"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(1, 113, 67);
    background: linear-gradient(
      155deg,
      rgba(1, 113, 67, 1) 0%,
      rgba(13, 167, 44, 1) 70%,
      rgba(117, 255, 47, 1) 100%
    );
    clip-path: circle(600px at right 900px);
    transition: clip-path 1.5s ease-in-out;
  }

  div[role="figure"].hide {
    clip-path: circle(0 at right 900px);
  }

  div[role="figure"] span {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  div[role="figure"] .locationActive {
    opacity: 0;
    pointer-events: none;
  }
}

// Accueil
.welcome {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 60px auto;
  max-width: 1360px;
  height: 615px;
  transform: translateY(1);
  transition: transform 3.5s ease-in-out;

  .textBox {
    position: relative;
    max-width: 720px;
    margin-left: 50px;
  }

  .textBox h2 {
    font-family: "Poppins", sans-serif;
    color: #333;
    font-size: 4em;
    line-height: 1.15em;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
  }

  .textBox p {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #333;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.03em;
  }

  .textBox p span {
    margin-left: 20px;
  }

  .textBox a {
    display: inline-block;
    color: #333;
    background-color: #017143;
    color: #fff;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    max-width: fit-content;
    margin-top: 20px;
    padding: 12px 17.5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .textBox a:hover {
    background-color: #0da72c;
  }

  .textBox a:active {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 2px 10px;
  }

  .imageBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }

  .imageBox img {
    max-width: 400px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s ease-in-out;
  }

  .imageBox img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.welcome.hideModify {
  visibility: hidden;
}

.welcome.hide {
  transform: translateY(-850px);
}

// Locations
.locations {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1450px;
  margin: -750px auto auto;
  width: 100%;
  transform: translateY(160vh);
  transition: transform 2s ease-out;

  li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    gap: 10px;
    padding-top: 15px;
  }
}

.locations.speed {
  transition: transform 0s ease-out;
}

.locations.appear {
  transform: translateY(1px);
}

// Locations trouvées
.cardsLoc {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;

  .imgBox {
    position: relative;
    width: 100%;
    height: 78%;
    min-height: 400px;
    background-size: cover;
    border-radius: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 0 0 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
  }

  .content > span {
    display: flex;
    position: absolute;
    top: -70px;
    left: 0;
    width: auto;
    height: 70px;
    min-width: 50%;
    border-top: 10px solid #f1f1f1;
    border-right: 10px solid #f1f1f1;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 15px;
    backdrop-filter: blur(5px);
    overflow: hidden;
  }

  .content p {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-right: 20px;
  }

  .content p div {
    font-family: "Poppins", sans-serif;
    color: #333;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.03em;
  }

  .content p div:nth-child(3),
  .content p div:nth-child(4) {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1.5s ease-in-out;
    transition-delay: 1.25s;
  }

  .content.contentActive p div:nth-child(3),
  .content.contentActive p div:nth-child(4) {
    height: auto;
    opacity: 1;
  }

  .content h3 {
    color: #fff;
    font-size: 1.75em;
    font-weight: 600;
    padding: 0px 20px 0px;
    text-shadow: 0 0 10px #000;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .content > ul {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
    position: relative;
  }

  .content > ul div[role="figure"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    background: linear-gradient(155deg, #017143, #0da72c 70%, #349b00);
    clip-path: ellipse(20% 65% at 90% 70%);
    border-bottom-right-radius: 15px;
    z-index: 0;
    transition: clip-path 0.75s ease-in-out;
  }

  .content > ul div[role="figure"]:hover {
    clip-path: ellipse(23% 68% at 90% 70%);
  }

  .content > ul div[role="figure"] span {
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
    padding-top: 27px;
    padding-right: 7px;
    letter-spacing: 0.55px;
    font-size: 1.75em;
    font-style: italic;
    font-weight: 600;
    color: #f6f6f6;
    text-shadow: 0 0 20px #00000085;
    transition: color 0.25s ease-in, text-shadow 0.5s ease-in,
      opacity 0.5s ease-in-out;
  }

  .content > ul div[role="figure"].locationOff span {
    cursor: default;
    margin-right: -3px;
    padding-right: 0;
  }

  .content > ul div[role="figure"]:hover span {
    text-shadow: 0 0 10px #000;
    color: #fff;
  }

  .content > ul div[role="figure"]:active span {
    color: #e9e9e9;
  }

  .content > ul div[role="figure"].locationActive {
    background: linear-gradient(155deg, #017143, #0da72c 70%, #349b00);
    clip-path: ellipse(25% 70% at 90% 70%);
  }

  .content > ul div[role="figure"].locationActive span {
    font-size: 1.45em;
    line-height: 27px;
    font-weight: 400;
    text-align: end;
    color: #fcfcfc;
    text-shadow: none;
    pointer-events: none;
  }

  .content > ul div[role="figure"].locationOff {
    cursor: default;
    background: #c17500;
  }

  .content > ul div[role="figure"].locationActive span strong {
    font-style: normal;
    font-size: 1.9em;
  }

  .content > ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: #d9d9d9;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
    z-index: 1;
  }

  .content > ul li svg {
    width: 2em;
    height: 2em;
  }
}

.locations .thumbails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  height: fit-content;
  width: 50%;
  padding-bottom: 20px;

  li {
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgb(0 0 0 / 14%) 1px 5px 5px;
    border-radius: 10px;
    width: 275px;
    height: 205px;
    margin: 0 5px;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s ease-in-out;
  }

  li:hover {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

@media (min-width: 1921px) {
  .home {
    min-height: 70vh;
  }

  .locations .thumbails {
    width: 65%;
  }

  .cardsLoc {
    margin-left: 20px;
  }
}

@media (max-width: 1920px) {
  .locations .thumbails {
    width: 50%;
  }
}
