.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-right: calc(var(1.5rem) * 0.5);
  padding-left: calc(var(1.5rem) * 0.5);
  margin-right: auto;
  margin-left: auto;

  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(1.5rem) * 0.5);
  padding-left: calc(var(1.5rem) * 0.5);
  margin-top: var(0);

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1450px;
  }

  h3 {
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
  }

  hr {
    margin: auto;
    width: 80%;
  }
}

.locations {
  h2 {
    max-width: 80%;
    margin: 20px auto;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    background-size: cover;
    list-style-type: none;
    max-width: 33.33%;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
    border-radius: 20px;
    overflow: hidden;
  }

  h3 {
    color: white;
    font-size: 2.5em;
    padding-bottom: 25px;
    backdrop-filter: blur(2.5px) brightness(55%);
    padding: 20px;
  }

  p {
    display: flex;
    flex-direction: column;
    height: 100%;
    backdrop-filter: blur(2.5px) brightness(55%);
    padding: 20px;
  }

  p div {
    color: white;
    font-size: 1.5em;
  }
}
