.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f1f1f1;

  div[role="title"] {
    position: sticky;
    top: 31%;
    z-index: 3;
    margin-bottom: 30px;
    padding-bottom: 7.5px;
    border-bottom: 10px solid #69340e;
    transform: translateX(-290%);
    transition: position 0.5s ease-in-out;
  }

  @media (max-height: 632px) {
    div[role="title"] {
      position: absolute;
      top: 51%;
    }
  }

  h1 {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    min-height: 200px;
    width: 285px;
    padding-right: 40px;
  }

  h1 span {
    display: block;
  }

  h1 > span:first-child {
    transform: rotate(-90deg);
    height: fit-content;
    font-size: 1.5em;
    position: absolute;
    top: 70px;
    left: -25px;
  }

  h1 > div {
    padding-bottom: 10px;
  }

  // h1 a {
  //   color: blanchedalmond;
  //   font-family: Poppins, sans-serif;
  //   font-size: 2.5em;
  //   font-style: normal;
  //   font-weight: 700;
  //   text-decoration: none;
  //   text-align: center;

  //   background-image: linear-gradient(
  //       90deg,
  //       rgba(26, 100, 8, 1) 0%,
  //       rgba(150, 184, 141, 0) 100%,
  //       rgba(255, 255, 255, 0) 100%
  //     ),
  //     url(/public/images/AZUR/cours-gite.jpg);
  //   background-attachment: fixed;
  //   background-size: cover;
  //   background-position: center;

  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   -webkit-text-stroke: 1px #1a640836;

  //   padding: 5px 50px;
  //   margin-top: -5px;
  //   // border-left: 1px solid #99999973;
  //   // border-right: 1px solid #99999973;
  //   box-shadow: 0px 20px 20px rgb(157 157 157 / 14%);
  // }

  h1 a span {
    text-transform: uppercase;
    font-size: 1.25em;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    margin-top: -230px;
  }

  h3 {
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
  }

  hr {
    margin: auto;
    width: 80%;
  }
}

// Accueil
.welcome {
  display: flex;
  gap: 40px;
  margin: auto;
  max-width: 1360px;

  img {
    max-width: 25%;
  }
}

// Locations
.locations {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1450px;
  margin: auto;

  li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    gap: 10px;
    padding-top: 15px;
  }
}

// Locations trouvées
.cardsLoc {
  position: relative;
  width: 50vw;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;

  .imgBox {
    position: relative;
    width: 100%;
    height: 78%;
    background-size: cover;
    border-radius: 15px;
    // border-bottom: 10px solid #f1f1f1c4;
    // box-shadow: rgb(0 0 0 / 14%) 1px 5px 5px;
  }

  // .imgBox::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   width: 20px;
  //   height: 20px;
  //   background-color: transparent;
  //   border-radius: 50%;
  //   box-shadow: -10px 10px 0 #f1f1f1;
  // }

  // .imgBox::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 70px;
  //   left: 0;
  //   width: 20px;
  //   height: 20px;
  //   border-radius: 50%;
  //   background-color: transparent;
  //   box-shadow: -10px 10px 0 #fbcd7742;
  // }

  .content {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 32vh;
    background-color: transparent;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 15px;
  }

  .content span {
    display: flex;
    position: absolute;
    top: -70px;
    height: 70px;
    width: 50%;
    background-color: transparent;
    border-top: 10px solid #f1f1f1;
    border-right: 10px solid #f1f1f1;
    border-top-right-radius: 25px;
  }

  // .content span::before {
  //   content: "";
  //   position: absolute;
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 50%;
  //   background-color: transparent;
  //   box-shadow: -10px -10px 0 #f1f1f1;
  // }

  // .content span::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   right: -25px;
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 50%;
  //   background-color: transparent;
  //   box-shadow: -10px 10px 0 #cfc09c;
  // }

  .content p {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    padding: 20px;
    background-color: transparent;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .content p div {
    color: #2b2b2b;
    font-size: 1em;
    line-height: 21px;
  }

  .content h3 {
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    padding: 0px 20px 0px;
    text-shadow: 0 0 10px #b1b1b1;
    background-color: transparent;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
}

.locations .thumbails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: fit-content;
  width: 60%;
  padding-bottom: 10px;

  li {
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgb(0 0 0 / 14%) 1px 5px 5px;
    border-radius: 10px;
    width: 275px;
    height: 205px;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s ease-in-out;
  }

  li:hover {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

@media (max-width: 1500px) {
  .home {
    h1 a {
      font-size: 6vw;
    }
  }
}
